/* Basic parameters */

* {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
}

body {
	width: 100%;
	height: 100vh;
	background: url('assets/freedom.jpg') no-repeat center;
	background-size: cover;
}

.wrapper {
    padding-top: 2rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.quote {
    font-size: 1.5rem;
}

.author {
    font-size: 1rem;
}

@media (min-width: 768px) {
.wrapper {
	padding-top: 4rem;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.quote {
	font-family: 'Julius Sans One', sans-serif;
    font-size: 2.5rem;
}

.author {
	font-family: 'Crimson Text', serif;
    font-size: 1.5rem;
    font-style: italic;
}

small {
	font-size: smaller;
}

img {
	padding-top: 0.3rem;
	height: 1rem;
}
}

/* Language selector Menu */

.footer {
  text-align: center;
  padding-bottom: 5px;
  display: inline-block;
  position: absolute;
  right: 90px;
  bottom: 0;
}

button {
  text-align: center;
  border-radius: 25px;
  opacity:0.8;
  border: 2px solid black;
}

button:hover {
	background: url('http://i.imgur.com/f4jGhSF.png') repeat center;
	color: white;
	border: 2px solid white;
}

button:active {
	border: none;
}


ul {
  width: 90%;
  line-height: 1rem;
  padding-top: 0.5rem;
  opacity:0.8;
  margin: 0 auto;
  -webkit-padding-start: 18px;
}


li {
  width: 120px;
  background: url('http://i.imgur.com/f4jGhSF.png') repeat center;
  list-style-type: none;
  border: 1px solid white;
  border-radius: 25px;
  padding: 0.5rem;
  font-size: 0.85rem;
  color: white;
  letter-spacing: 0.5px;
  margin-bottom: 0.2rem;
}

a {
  text-decoration: none;
  color: white;
}

.menu {
  display: none;
}

.btn p {
  font-size: 0.85rem;
  letter-spacing: 1px;
  margin: 5px;
}
img {
  max-width: 100px;
  width: 100%;
  height: 1rem;
  margin: 0 auto;
  padding-right: 5px;
}
img.ico {
  width: 1.3rem;
  height: 1.3rem;
  vertical-align: middle;
  padding-bottom: 0.5rem;
}


@media (min-width: 768px){

.footer {
  width: 100vw;
  height: 150px;
  text-align: center;
  padding: 0.75rem;
  position: absolute;
  bottom: 0;
  display: block;
}
    
button {
  text-align: center;
  border-radius: 50px;
  opacity:0.8;
  border: 2px solid black;
}

button:hover {
	background: url('http://i.imgur.com/f4jGhSF.png') repeat center;
	color: white;
	border: 2px solid white;
}

button:active {
	border: none;
}

ul {
  width: 100%;
  text-align: center;
  height: 3.5rem;
  padding-top: 1rem;
  opacity:0.8;
}


li {
  background: url('http://i.imgur.com/f4jGhSF.png') repeat center;
  list-style-type: none;
  display: inline;
  border: 1px solid white;
  border-radius: 20px;
  padding: 1rem;
  font-size: 1rem;
  color: white;
  letter-spacing: 1.5px;
}

a {
  text-decoration: none;
  color: white;
}

.menu {
  display: none;
}

.btn p {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 0;
}
img {
  max-width: 300px;
  width: 100%;
  height: 5rem;
  margin: 0 auto;
  padding-right: 5px;
}
img.ico {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  padding-bottom: 0.5rem;
}
}